rect {
    
}
.numerals {
    font-family: 'Sorts Mill Goudy';
    font-size: 14px;
    text-anchor: end;
    text-align: right;
}
.events {
    font-family: 'Raleway';
    font-size: 9px;
}
#eventDescription {
    width:90%;
    height:80%;
}
#prototypes {
    display : none;
}
#calendarDiv {
    position : absolute;
    left : 33%;
    top : 0px;
    width : 66%;
    height : 99%;
    overflow: scroll;
}
#controls {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 33%;
    height : 99%;
    overflow: scroll;
}