#prototypes {
    display : none;
}
#calendarDiv {
	overflow : scroll;
}
#controls {
	
}
#event {
    position:relative;
}
input[type="number"] {
    display: inline-block;
    width : 4em;
}
#month {
    display: inline-block;
    width : auto;
}
svg .selected rect {
    fill:#c8ff27;
}
svg .unselected rect {
	fill:#ffffff;
}
#footnote {
	font-size: 8pt;
}
#eventDescription {
    width: 100%;
    height: 7em;
}